.footer{
    // background-color: red;
    background-color: $color-saleforce-dash-blue;
    // margin: 5rem 0 2rem;
    text-align: center;
    padding: 2rem;
    color: white;
}

.footer p{
    margin: 5px 0;
}