.map-container{
    box-shadow: $primary-box-shadow;
    background-color: white;
    padding: 2rem;
    border-radius: $profile-bodrer-radius;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #495057;
}