.subtitle-container {

  h4 {
    grid-column: span 2;
    display: flex;
    text-align: center;
    width: 40rem;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3.5rem;
    padding-bottom: 4rem;
    color: #212529;
    margin-bottom: 4rem;
  }

  h6 {
    // margin-top: 2.4rem;
    height: 1.8rem;
    left: 15.1rem;
    top: 29.4rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.3em;
    // padding-left: 1rem;
    color: #212529;
  }


}

.form-container-modalv2 {
  @include respond(phone) {
    display: grid;
    padding: 2rem;
  }
  display: grid;
  grid-template-rows: 6rem repeat(1, 1fr);
  grid-template-columns: 1fr;
  border-radius: 2rem;
  background-color: $color-white;
  // padding-right: 5rem;
  // padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 0;
  margin-bottom: 2rem;
  border-radius: 0.75rem;

  .form-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    grid-column: 1/-1;

    input:focus-within {
      border: 0.2rem solid #495057;
    }
    select:focus-within {
      border: 0.2rem solid #495057;
    }

    input,
    select {
      border-radius: 0.5rem;
      padding: 1rem;
      height: 4rem;
      outline: #dee2e6 solid 0.1rem;
    }
    textarea {
      border-radius: 0.5rem;
      padding: 1rem;
      // height: 4rem;
      outline: #dee2e6 solid 0.1rem;
    }
    label {
      height: 1.8rem;
      left: 15.1rem;
      top: 29.4rem;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #343a40;
    }
  }

}

.form-container {
  @include respond(phone) {
    display: grid;
    padding: 2rem;
  }
  display: grid;
  grid-template-rows: 10rem repeat(1, 1fr);
  grid-template-columns: 1fr;
  background-color: $color-white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;

  .form-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    grid-column: 1/-1;

    input:focus-within {
      border: 0.2rem solid #495057;
    }
    select:focus-within {
      border: 0.2rem solid #495057;
    }

    input,
    select {
      border-radius: 0.5rem;
      padding: 1rem;
      height: 4rem;
      outline: #dee2e6 solid 0.1rem;
    }
    textarea {
      border-radius: 0.5rem;
      padding: 1rem;
      // height: 4rem;
      outline: #dee2e6 solid 0.1rem;
    }
    label {
      height: 1.8rem;
      left: 15.1rem;
      top: 29.4rem;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #343a40;
    }
  }

  // .radios-item{
  //   display:flex;
  //   flex-direction: row;
  //   padding-bottom: 2rem;
  //   grid-column: 1/-1;
  // }
}
.form-section{
  
  height: 10rem;
  color: #343a40;

}
.form-section:not(first-child) {
  // background-color: red;
  display: flex;
  margin-top: 4rem;
}

.form-section:nth-child(1) {
  margin-top: 0;
}

.student-info,
.mothers-info,
.fathers-info,
.emergency-info,
.primary-info {
  padding-bottom: 10rem;
}

.form-container-modal {
  .form-container input {
    height: 6rem;
  }
}

.form-container-modal label {
  height: 1.8rem;
  left: 15.1rem;
  top: 29.4rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.3em;
}
.form-container-modal input {
  border: 0.1rem solid $color-saleforce-dash-blue;
  height: 4rem;
}

.student-form-box {
  padding-left: 2rem;
  padding-right: 3rem;
  width: 90vw;
  margin: 0 auto;
  input:checked {
    font-size: 1.4rem;
  }
  align-items: center;
}
.subtitle-container input:not(.span2):only-child {
  grid-column: span 2;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  padding-bottom: 2rem;
}

.form-label {
  height: 1.8rem;
  left: 15.1rem;
  top: 29.4rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}
